*.o
*.obj
*.dep
*.a
*.xcworkspacedata
*.xccheckout
project.xcworkspace
*.xcuserdatad
*.app
build
*.log
/cctbx/cctbx
/cctbx/include
/newmat
/freeglut*
/fftw*
/mysql*
*.tlog
/static-libs
*.tar.bz2
*.tar.gz
cctbx_install_script.csh
/wxWidgets*
*.pyc
/ObjCryst/rules.mak
/Fox/Makefile
*.OLD
JOB*.xml*
/Fox/src/Fox
/Fox/src/Fox-nogui

*.dmg
Fox/wikihtml
Fox/.vs*
Fox/Debug*
Fox/Release*
*.pov
boost_1_68_0
/cctbx*
cctbx/gnu.mak

/Fox/.vs
/Fox/Debug
/Fox/Release
cctbx/gnu.mak
*.vcxproj.user
