*.o
*.obj
*.dep
*.a
*.xcworkspacedata
*.xccheckout
project.xcworkspace
*.xcuserdatad
*.app
build
*.log
/cctbx
/newmat
/freeglut*
/static-libs
*.tar.bz2
*.tar.gz
cctbx_install_script.csh
/wxWidgets*
*.pyc
/ObjCryst/rules.mak
/Fox/Makefile
*.OLD
JOB*.xml*
/Fox/src/Fox
/Fox/src/Fox-nogui

